body {
    font-family: Arial, Helvetica;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
h2 {
    font-size: 1em;
    margin-top: 20px;
}
.nav-left{
    background-color: black;
    width: 200px;
}
.nav-right{
    background-color: #ccc;
    padding-left: 10px;
    width: 900px;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #eee 1px solid;
}
.foot-left {
    background-color: #faea68;
    width: 200px;
    text-align: right;
}
.foot-right {
    background-color: #faea68;
    padding-left: 10px;
    width: 900px;
    text-align: right;
}
#head {
    text-align: center;
}
#nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#side {
    background-color: black;
    width: 200px;
    height: 900px;
}
#cont {
    background-color: #7cb1bb;
    padding-left: 10px;
    width: 900px;
    height: 900px;
}
#foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        background-color: #ccc;
    }
    .nav-right{
        width: 98%;
        padding-left: 8px;
    }
    #main {
        flex-direction: column;
        background-color: black;
    }
    #side {
        height: 180px;
    }
    #cont {
        width: 98%;
        padding-left: 8px;
    }
}